<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../views/partials/_header %>
  </head>
  <body>
  <div class="linklist">
    <h1 class="managetitle">Your Tiny Links</h1>
    <ul>

        <% for (let url in urls) { %>
          <li><a href="<%= urls[url] %>"><%= url %></a> - <%= urls[url] %>

            <form action="/urls/<%= url %>/delete" method="POST" id="delete"></form>
            <button type="submit" form="delete" value="Submit">Delete</button>

            <button type="submit" form="edit" value="Submit">Edit</button>
            <form action="/urls/<%= url %>" method="POST" id="delete"></form>

        </li>
        <% }; %>

    </ul>
    <a href="/urls/new">Shorten a new URL</a>
    </div>
  </body>
</html>
